.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
!.yarn/cache
#.pnp.*
node_modules
.yarn/*
img/*
db.db*
.webpack/*
/out
/dist_utility/*
dist_utility/utility_process/index.js
.DS_Store